{{ if ne .Params.amp.enable false }}

<!DOCTYPE html>
<html amp lang="en">
<head>
  <title>{{ .Title }}</title>
  <meta charset="utf-8">

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500|Roboto+Mono|Material+Icons" />

  {{ partial "amp/header" . }}

  <link rel="canonical" href="{{ .Permalink }}" />
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
  <link rel="manifest" href="/manifest.json">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="apple-mobile-web-app-title" content="tad.codes">
  <meta name="application-name" content="tad.codes">
  <meta name="theme-color" content="{{ $.Site.Params.themeColor }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />
  {{ if .RSSLink }}<link href="{{ .RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
  <link href="{{ .RSSLink }}" rel="feed" type="application/rss+xml" title="{{ .Site.Title }}" />{{ end }}

  {{ partial "seo/main" . }}

  {{ partial "amp/boilerplate" . }}

  <style amp-custom></style>
</head>

<body>
{{ if isset $.Site.Params "ampmanifest" }}
{{ with $.Site.Data.app.banner }}{{ partial "amp/app-banner" . }}{{ end }}
{{ end }}

{{ else }}
{{ partial "structure/head.no-amp" . }}
{{ end }}

  <header>
    {{ if .IsPage }}
    <a class="back material-icons" aria-label="Back" href="{{ .Site.BaseURL }}">arrow_back</a>
    {{ else }}
    <h1>{{ .Site.Title }}</h1>
    {{ end }}
  </header>
