$mdc-theme-primary: #607D8B;
$mdc-theme-accent: #F4511E;
$mdc-theme-background: #ECEFF1;
@import "@material/theme/mdc-theme";

$background-light: #546E7A;
$background-dark: #37474F;
$background-callout: #CFD8DC;

// Colors

@mixin callout() {
    background-color: $background-callout;
    @include mdc-theme-prop(color, text-primary-on-light);
}

body {
    background-color: $background-light;

    > header {
        background-color: $background-dark;

        h1 {
            @include mdc-theme-prop(color, text-icon-on-dark);
        }
    }
}

article {
    @include mdc-theme-prop(background-color, background);
    @include mdc-theme-prop(color, text-primary-on-background)

    a {
        @include mdc-theme-prop(color, accent);

        &:hover {
            background-color: $background-callout;
        }
    }

    aside {
        @include mdc-theme-prop(color, text-secondary-on-background);

        time {
            @include mdc-theme-prop(color, accent);
        }
        p.blurb {
            @include mdc-theme-prop(color, text-primary-on-background);
        }
    }

    code {
        @include callout;
        padding-left: 0.2rem;
        padding-right: 0.2rem;
    }

    section {
        aside {
            @include mdc-theme-prop(color, text-secondary-on-background);
        }

        hr {
            background-color: #B0BEC5;
        }

        pre code {
            @include callout;
        }
    }
}
